<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - JobCircle</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <style>
            li {
                text-align: right;
            }
        </style>
    </head>
    <body style="background-color:ghostwhite">
        <div class="navbar navbar-inverse navbar-fixed-top justify-content-center">

            <div class="container">

                <div class="navbar-header justify-content-center">
                    <br />
                    <img src="~/PHS/logo1.png" alt="Avatar Logo" style="width:80px;" class="rounded-pill">
                    <br />
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("JobCircle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div>

                </div>
                <div class="navbar-collapse collapse">
                    <br />
                    <ul class="nav navbar-nav">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        <li>@Html.ActionLink("SignIn", "UserLogin_PageLoad", "UserLogin")</li>
                        <li>@Html.ActionLink("Register", "UserReg_PageLoad", "UserReg")</li>
                        <li class="nav-item">
                            <input class="form-control mt-2" type="text" placeholder="Search">
                        </li>
                        <li>
                            <button class="btn btn-primary" type="button">Search</button>
                        </li>

                    </ul>
                    
                </div>
               
            </div>
        </div>
        

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>



